// Primary Colors - Tints
//- Swing Blue
$blue-dark: #114DA0;
$blue: #186EE5;
$blue30: gray;
$blue50: red;
// $blue70: ;
// $blue90: 
;
// -Swing Yellow
$yellow-dark: #F2A900;
$yellow: #FFD100;
// $yellow30: ;
// $yellow50: ;
// $yellow70: ;
// $yellow90: ;

// Ternary Colors 



// Background Colors
$bg1: #E8F1FC;
$bg2: #FFF;
$bg3: #F6F9FE;
$bg4: #E8E9EB;


$font-color: #000;
$color-primary: $blue;