// @import "base/util";
//! @import "base/reset";
// @import 'base/xd';
@import 'base/variables';
@import 'base/fonts';
@import 'base/typography';
@import 'base/mixins';
@import "base/flex-grid";



html {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

/* IE 11 fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    overflow-x: visible !important;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: $font-body;
  color: $font-color;
  text-align: left;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;

  &.using-mouse {
    a,
    button,
    input,
    select,
    textarea {
      outline: 0 !important;
    }
  }
}

a {
  color: $color-primary;
  &:hover {
    text-decoration: none;
  }
}

button,
input[type="submit"] {
  cursor: pointer;
}

button,
input,
select,
optgroup {
  font-family: $font-body;
}

.has-bg {
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

////////////////////////// ACCESSIBILITY //////////////////////////
.sr-only,
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; // Above WP toolbar.
}

////////////////////////// GENERAL //////////////////////////
.error404 {
  @keyframes imgGrow {
    from {
      // clip-path: ellipse( 0 0 at 50% 100%);
    } to {
      opacity: 1;
    }
  }
  .main-content-wrap {
    background-color: var(--swing-blue);
    flex-grow: 1;
    text-align: center;
    .btn {
      margin-top: 4.0625rem;
      margin-bottom: 55px;
    }
  }
  article {
    margin: 0 auto;
    padding-top: 138px;
  }
  h1 {
    color: #FFF;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  p {
    @include bdy-md;
    color: #FFF;
    margin: 0 auto;
    max-width: 36em;
  }
  .img-wrap {
    @include rel;
    @include section-full;
    height: 30vw;
    width: 100vw;
  }
  .decor-img {
    @include fillall;
    @include bg;
    // background: #fff;
    background-position: top center;
    background-size: 62vw auto;
    opacity: 0;
    clip-path: ellipse(30vw 30vw at 50% 100%);

    animation: imgGrow 1.2s forwards linear;//ease-out;
    // animation-delay: 1s;
  }
  @media (min-width: 1921px) {
    .img-wrap {
      max-height: 512px;
      max-width: 1024px;
      margin: 0 auto;
    }
    .decor-img {
      background-position: top center;
      background-size: 100% auto;
      clip-path: ellipse(50% 100% at 50% 100%);
    }
  }
  @include respond-below(md) {
    .img-wrap {
      height: 50vw;
    }
    .decor-img {
      clip-path: ellipse(50vw 50vw at 50% 100%);
      background-size: 100% auto;
    }
  }
}


.blue-section {//}:not(.has-space) { //hero
  position: relative;
  z-index: 1;

  &:not(.hero),
  &.hero-full-width {
    &:before {
      content:"";
      @include cover;
      background: $blue;
    }
  }
  &.hero-contained {
    margin-top: 80px;
    background: $blue;
    border-radius: $border-radius;
    .hero-content{
      // vertical padding from hero-content
      padding-left: 3rem; 
      padding-right: 3rem;
    }
    .hero-img { //gs
      // clip-path: ellipse(60% 78% at 60% 50%);
      clip-path: ellipse(60% 80% at 60% 46%);
      flex: 0 0 50%;
      .decor-img {
        height: 100%;
      }
    }
  }
  
  &,
  .hero-content { 
    *:not(.btn) {
      color: #fff !important;
    }
  }
  h1 {
    @include hdl-xx;
    max-width:11em;
  }
  p {
    color: white;
  }
  .btn {
     background: #fff;
     color: $blue;
    //  &:hover {
    //     background-color: $yellow;
    //     color: $blue-dark;
    //  }
  }
}

div.light-blue {
  position: relative;
  z-index: 1;
  &:before {
     content:"";
     @include cover;
     background: #E8F1FC;//$blue30;
  }
  // h2 {
  //   color: $blue-dark;
  // }
}

.pre-heading-label { 
  @include bdy-sm; 
  color: var(--swing-black-t40);
}