@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_footer";
@import "blocks/call-to-action";
@import "blocks/helpful-articles";
@import "blocks/testimonial-slider";
@import "blocks/cards-grid";
@import "blocks/swing-stats";
@import "blocks/_stories-slider";
@import "blocks/_get-started-steps";
@import "blocks/_posts";
@import "blocks/_newsletter";

//***********                         ****************//
//*********** Registered Block Styles ****************//
//***********                         ****************//
@mixin is-style-bg {
   @include rel;
   z-index: 2;
   &:before {
      content:"";
      @include cover;
      z-index:-1;
   }
   //blue sections of media texts .. //TODO class
   > .wp-block-group__inner-container {
      padding: 120px 0;
      > *:last-child {
         margin-bottom: 0;
      }
   }
}
.wp-block-media-text {//.has-media-on-the-right .wp-block-media-text__content {
   margin: 70px 0;
   &:first-child {
      margin-top: 0;
      // padding-top: 118px;
   }

   padding: 0;
   figure,
   img {
      border-radius: 225px;
      margin: 0 auto;
      // max-width: 740px; //TODO ?
      height: 600px;
      object-fit: cover;
   }
}
// .wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
//    padding-right: 0;
// }
.wp-block-button a { //TODO register styles for variants
   @include btn;
   //TODO padding: 13px 35px; //global app
}
.is-style-swing-blue-bg {
   @include is-style-bg;
   //! @include blue-section;
   &::before {
      background: $blue;
   }
}

.is-style-light-blue-bg {
   @include is-style-bg;
   &::before {
      background: var(--bg-02);
   }
}

.wp-block-media-text .wp-block-media-text__media {
   background-color: #ddd;
}

.partners-slider {
   margin: 165px 0;
   
   .slick-track {
      display: flex;
      align-items: center;
   }
   
   .slick-next {
      padding-right: 24px;
      padding-left: 5px;
      margin-right: -32px;
   }
   .slick-prev {
      padding-left: 24px;
      padding-right: 5px;
      margin-left: -32px;
   }
   .slick-prev, 
   .slick-next {
      height: 100%;
      border-radius: 3px;
      transition: 0.2s;
      &:hover {
         background: $bg3;
      }
   }
   .slick-prev:before, 
   .slick-next:before {
      // content:"";
      color: $blue;
   }
}
.partner.slick-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   padding:0 1rem;
   // max-height: 80px;
   @include respond-below(md) {
      padding:0 0.5rem;
   }
   img {
      max-height: 72px;
      max-width: 100%;
      object-fit: contain;
   }
}