@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_footer";
@import "blocks/call-to-action";
@import "blocks/helpful-articles";
@import "blocks/testimonial-slider";
@import "blocks/swing-stats";
@import "blocks/media-text";


//***********                         ****************//
//*********** Registered Block Styles ****************//
//***********                         ****************//
@mixin is-style-bg {
   @include rel;
   z-index: 2;
   &:before {
      content:"";
      @include cover;
      z-index:-1;
   }
}
.is-style-swing-blue {
   @include is-style-bg;
   //! @include blue-section;
   &::before {
      background: $blue;
   }
}

.is-style-light-blue {
   &::before {
      background: var(--bg-02);
   }
}