$menu-color-primary: #2a3442;

.spmt-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	touch-action: none;
	&.fixed {
		position: fixed;
	}
	&.novis {
		visibility: hidden;
	}
	#menu {
		display: flex;
	}
}

.spmt-overlay {
	@include fillall;
	background: rgba(0, 0, 0, 0.7);
	will-change: opacity;
}

.spmt {
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	overflow: auto;
	max-width: 88%;
	outline: 0;
	will-change: transform;
}

#mobile-menu {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.menu-inner {
	background: #FFF;
	flex-grow: 1;
	padding-bottom: 99px;
}

.mobile-search {
	background: #2a3544;
	padding: 18px 8%;

	form {
		position: relative;

		&:before {
			content: inline-svg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250"><path d="M244 215l-54-55-1-1a103 103 0 1 0-29 29v2l55 54a21 21 0 0 0 29-29zm-141-45a67 67 0 1 1 0-134 67 67 0 0 1 0 134z"/></svg>'
			);
			transform: scaleX(-1);
			color: #7f888f;
			cursor: default;
			display: block;
			height: 1em;
			line-height: 1em;
			width: 1em;
			opacity: 0.17;
			position: absolute;
			top: 10px;
			left: 0.7em;
		}
	}

	input {
		width: 100%;
		border: 0;
		border-radius: 3px;
		padding: 6px 10px 6px 35px;
		font-size: 15px;
		border: solid 1px rgba(210, 215, 217, 0.75);
	}
}

.menu-section {
	margin: 2.3em 8% 0; // border-bottom: solid 2px rgba(210, 215, 217, 0.75);
	// margin: 3em 8%;
	// padding: 0 0 .7em;
	font-size: 15px; // animation: fadeinleft .5s both;
	&:first-of-type {
		margin-top: 0;
		padding-top: 2.3em;
	}
	&:last-of-type {
		font-size: 14px;
	}

	// &:nth-of-type(2) {
	// 	animation-delay: .07s;
	// }
	// &:nth-of-type(3) {
	// 	animation-delay: .14s;
	// }
	// &:nth-of-type(4) {
	// 	animation-delay: .21s;
	// }
	// &:last-of-type {
	// 	// border-bottom: 0;
	// 	margin-bottom: 0;
	// }
	h4 {
		color: #222;
		padding: 0 0.75em 0.45em 0;
		font-size: 16px;
		border-bottom: solid 3px $menu-color-primary;
		display: inline-block;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		letter-spacing: 0.03em;
	}
	.grid-item {
		&:not(:last-child) {
			border-bottom: 2px solid #C8C8C8;
			margin-bottom: 1rem;
		}
		.addr-one,
		.addr-two {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		position: relative;
		margin: 0;
		// border-top: solid 1px rgba(210, 215, 217, 0.75);
		margin-bottom: 7px;

		&:first-of-type {
			border-top: 0;
		}

		&.menu-item-has-children {
			> span,
			> a {
				// &:hover {
				// 	color: $menu-color-primary;
				// }

				&:after {
					content: '\25BC';
					position: absolute;
					font-size: 11px;
					right: 2em;
					opacity: 0.7;
					transform: scaleX(1.85) scale(0.9);
					display: inline-block;
					top: 2.25em;
					transform-origin: 50% 50%;
					transition: transform 0.2s;
				}
			}
		}

		&.show-subnav {
			.sub-menu {
				display: block;
			}

			> a {
				// color: $menu-color-primary !important;

				&:after {
					transform: scaleY(0.7) rotate(180deg);
				}
			}
		}
		&:hover {
			> a {
				// color: $menu-color-primary;
			}
		}
	}

	.sub-menu {
		// display: none;
		margin: 0.5em 0 1.5em 0;
		padding-left: 1em;

		li {
			border: 0;
		}

		a {
			font-size: 90%;
			font-weight: 600;
			padding: 0.5em 0;
			color: #000;
			&:hover,
			&:focus {
				color: $menu-color-primary;
			}
		}
	}

	li:not(.menu-item-has-children) {
		&:hover {
			color: $menu-color-primary;
		}
	}

	*.menu-item-has-children:not(.btn) > span,
	*.menu-item-has-children:not(.btn) > a {
		@include bdy-md;
		display: inline-block;
		width:100%;
		background-color: $bg3;
		border-radius: $border-radius;
		color: $blue;
		text-transform: capitalize;
		padding: 19px 84px 21px 25px;
	}
	.btn a {
		font-weight: 600;
		text-transform: capitalize;
		// &:hover {
		// 	padding-right: 2rem;
		// }
	}
	.btn-login a {
		background-color: transparent;
		border: 2px solid $blue-dark;
		color: $blue-dark;
		&:hover {
			// color: $blue;
			// background-color: $yellow;
			// border-color: $blue;
			// text-align: left;
			padding-right: 2rem;
		}
	 }
	a {
		padding: 0.85em 0;
		display: block;
		text-decoration: none !important;
		// &:hover {
		// 	color: $red;
		// }
	}

	p {
		line-height: 1.5;
	}

	.mobile-contact-link {
		display: inline;
		text-transform: none;
		color: $menu-color-primary;
	}
}
.menu-section li.menu-item-has-children > span:after,
.menu-section li.menu-item-has-children > a:after {
	opacity: 1;
	color: $blue;
}

.mm-email {
	&:before {
		content: inline-svg(
			'<svg fill="#2a3442" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,4H5A3,3,0,0,0,2,7V17a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4ZM5,6H19a1,1,0,0,1,1,1l-8,4.88L4,7A1,1,0,0,1,5,6ZM20,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V9.28l7.48,4.57a1,1,0,0,0,1,0L20,9.28Z"/></svg>'
		);
		position: absolute;
		top: 1em;
		left: 0;
		width: 1.3em;
		height: 1.3em;
	}
}

.mm-phone {
	&:before {
		content: inline-svg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2a3442"><path d="M19.44,13c-.22,0-.45-.07-.67-.12a9.44,9.44,0,0,1-1.31-.39,2,2,0,0,0-2.48,1l-.22.45a12.18,12.18,0,0,1-2.66-2,12.18,12.18,0,0,1-2-2.66L10.52,9a2,2,0,0,0,1-2.48,10.33,10.33,0,0,1-.39-1.31c-.05-.22-.09-.45-.12-.68a3,3,0,0,0-3-2.49h-3a3,3,0,0,0-3,3.41A19,19,0,0,0,18.53,21.91l.38,0a3,3,0,0,0,2-.76,3,3,0,0,0,1-2.25v-3A3,3,0,0,0,19.44,13Zm.5,6a1,1,0,0,1-.34.75,1.05,1.05,0,0,1-.82.25A17,17,0,0,1,4.07,5.22a1.09,1.09,0,0,1,.25-.82,1,1,0,0,1,.75-.34h3a1,1,0,0,1,1,.79q.06.41.15.81a11.12,11.12,0,0,0,.46,1.55l-1.4.65a1,1,0,0,0-.49,1.33,14.49,14.49,0,0,0,7,7,1,1,0,0,0,.76,0,1,1,0,0,0,.57-.52l.62-1.4a13.69,13.69,0,0,0,1.58.46q.4.09.81.15a1,1,0,0,1,.79,1Z"/></svg>'
		);
		position: absolute;
		top: 1em;
		left: 0;
		width: 1.25em;
		height: 1.25em;
	}
}

.mm-contact {
	// margin: 0;

	li {
		padding-left: 28px !important;
	}

	a {
		text-transform: none;
	}
}

.mm-address {
	// padding: 0.75em 0;
	color: #000;

	&:before {
		content: inline-svg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2a3442"><path d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3v5H6a1,1,0,0,1-1-1V10.25a1,1,0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z"/></svg>'
		);
		position: absolute;
		top: 0.8em;
		left: 0;
		width: 1.3em;
		height: 1.3em;
	}
	> p {
		padding: 0.75em 0;
		margin-bottom: 0;
	}
}

// @keyframes fadeinleft {
// 	from {
// 		opacity: 0;
// 		transform: translateX(-60px)
// 	} to {
// 		opacity: 1;
// 		transform: none;
// 	}
// }


#mobile-menu #menu-main-navigation {
	display: flex;
	flex-wrap: wrap;
	li:not(.btn) {
		width: 100%;
	}
	.btn {
		flex: 1 0 calc(50% - 1rem);
		margin: 0 0.5rem;
		color: #FFF;
		&.btn-login {
			margin-left: 0;
		}
		&.btn-get-started {
			margin-right: 0;
		}
		a {
			margin-top: 8px;
		}
	}
	ul {
		padding-left: 0;
		padding: 0 4px 1.5rem;
	}
	li:not(.btn) {
		background-color: $bg3;
		border-radius: $border-radius;
	}
	li.menu-item-has-children a:focus,
	li.menu-item-has-children span:focus,
	li.menu-item-has-children span.menu-open,
	li.menu-item-has-children a.menu-open {
		&:after {
			transform: scaleX(1.75) scale(0.9) translateY(0px) rotate(180deg); //match
		}
	}
	.sub-menu {
		border-radius: $border-radius;
		.link-title,
		.link-description {
			@include bdy-md;
			display: inline-block;
		}
		.link-title {
			color: $blue;
			font-weight: 700;
			margin-top: 11px;
			margin-bottom: 8px;
		}
		li {
			// padding: 13px 44px 0 21px;
			padding: 0 44px 10px 21px;
			.link-descr {
				max-width: unset;
			}
		}
	}
	.sub-menu li,
	li:not(.btn) a {
		&:hover {
			filter: brightness(96%);
		}
	}
	.sub-menu {
		background-color: $bg3;
		// border-bottom-left-radius:  $border-radius;
		// border-bottom-right-radius: $border-radius;
		margin-top: 0;
		// margin-bottom: -7px;
		margin-bottom: 0;
	}
}
a.menu-open {
	// border-bottom-left-radius:  0!important;
	// border-bottom-right-radius: 0!important;
}