body.single-post {
    overflow: unset;
}

.breadcrumb {
    margin-bottom: 25px;
    font-size: var(--unnamed-font-size-21);
}

.single-post {
    margin-top: 100px;

    &--banner {
        .inner-wrap {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                clip-path: circle(41% at 80% 50%);
                background-color: var(--blue);
            }
        }

        &-img {
            max-width: 58%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-info {
            width: 100%;
            max-width: 42%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 1;
            padding: 40px 130px 40px 0;

            span {
                font-size: var(--unnamed-font-size-15-75);
                color: var(--bg-02);
                margin-bottom: 25px;
            }

            h2 {
                font-size: var(--unnamed-font-size-66-30000305175781);
                color: var(--bg-01);
                line-height: 1;
            }
        }
    }

    &--content {
        margin-top: 100px;

        .inner-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            p,
            li {
                font-size: var(--unnamed-font-size-21);
                color: var(--swing-black-t40);
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .sticky {
            position: sticky;
            top: 110px;
        }

        .social-share {
            text-align: center;
            position: sticky;
            top: 0;
            width: 50px;

            p {
                margin-bottom: 0;
                font-size: var(---unnamed-font-size-15-75);
                color: var(--swing-black-t20);
            }

            &--list {
                flex-direction: column;
                align-items: center;

                .social-icon {
                    margin: 10px 0 0 0;
                }
            }
        }

        &-wrap {
            width: 100%;
            max-width: calc(100% - 653px);

            h3 {
                color: var(--swing-black);
                font-family: var(--unnamed-font-family-proxima-nova);
                line-height: 1.1;
                margin: 70px 0 20px;
                font-weight: var(--unnamed-font-weight-bold);
                text-transform: uppercase;
            }

            ul {
                list-style-type: decimal;
                padding-left: 20px;

                li {
                    &::marker {
                        color: var(--swing-blue);
                    }
                }
            }
        }

        &-sidebar {
            width: 100%;
            max-width: 440px;

            .sidebar-inner {
                background-color: var(--bg-03);
                border-radius: 8px;
                padding: 40px;
            }

            .btn-wrap {
                .btn {
                    margin: 20px 0 0 0;
                    padding-top: 11px;
                    padding-bottom: 11px;

                    a {
                        color: var(--white);
                        font-family: var(--unnamed-font-family-proxima-nova);
                        font-weight: bold;
                        font-size: var(--unnamed-font-size-21);
                    }
                }
            }
            .sidebar-subcribe {
                h4 {
                    color: var(--swing-black-t20);
                    font-family: var(--unnamed-font-family-proxima-nova);
                    font-size: var(--unnamed-font-size-21);
                }

                input {
                    height: 50px;
                    width: 100%;
                    background-color: var(--bg-02);
                    border: none;
                    outline: none;
                    font-size: var(--unnamed-font-size-21);
                    color: var(--swing-black-t40);
                    padding: 5px 21px
                }
            }

            .sidebar-cta {
                background-color: var(--bg-01);
                margin-top: 60px;
                padding: 20px;

                &--img {
                    width: 100%;
                    background-color: var(--bg-04);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    padding-top: 92.5%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &--info {
                    margin-top: 33px;

                    h3 {
                        font-size: var(--unnamed-font-size-27-989999771118164);
                        line-height: 1.1;
                    }
                }
            }
        }
    }
}

.related-posts {
    margin-top: 210px;

    .inner-wrap {
        border-top: 2px solid var(--swing-black-t70);
        padding-top: 90px
    }

    &--title {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: var(--swing-blue-shd);
        }
    }
}

@media only screen and (max-width: 1500px) {
    .single-post {
        &--banner {
            &-info {
                h2 {
                    font-size: 48px;
                }
            }
        }

        &--content {
            margin-top: 80px;

            .inner-wrap {
                p,
                li {
                    font-size: 18px;
                }
            }

            .social-share {
                &--list {
                    .social-icon {
                        width: 35px;
                        height: 35px;
                    }
                }
            }

            &-wrap {
                max-width: calc(100% - 450px);

                h3 {
                    font-size: 32px;
                    margin-top: 40px;
                    margin-bottom: 10px;;
                }
            }

            &-sidebar {
                max-width: 300px;

                .sidebar-inner {
                    padding: 20px;
                }

                .btn-wrap {
                    .btn {
                        padding: 8px 15px;

                        a {
                            font-size: 16px;
                        }
                    }
                }

                .sidebar-subcribe {
                    input {
                        height: 40px;
                        font-size: 16px;
                        padding: 5px 15px;
                    }
                }

                .sidebar-cta {
                    margin-top: 40px;
                    padding: 10px;
                }
            }
        }
    }

    .related-posts {
        margin-top: 130px;

        &--title {
            margin-bottom: 20px;

            h2 {
                font-size: 44px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .breadcrumb {
        font-size: var(---unnamed-font-size-15-75);
    }

    .single-post {
        &--banner {
            &-info {
                padding: 20px 20px 20px 0;

                h2 {
                    font-size: 38px;
                }

                span {
                    margin-bottom: 10px;
                }
            }
        }

        &--content {
            margin-top: 40px;

            .inner-wrap {
                justify-content: flex-start;
                flex-direction: column;
                
                p,
                li {
                    font-size: var(---unnamed-font-size-15-75);
                    text-align: left;
                    margin-bottom: 12px;
                }
            }

            .sticky {
                position: static;
            }

            .social-share {
                position: static;
                width: 100%;
                margin-bottom: 15px;

                &--list {
                    flex-direction: row;

                    .social-icon {
                        margin: 0 10px 0 0;
                    }
                }
            }

            &-wrap {
                max-width: 100%;

                h3 {
                    font-size: 26px;
                    margin-top: 25px;
                    margin-bottom: 5px;;
                }
            }

            &-sidebar {
                max-width: 440px;
                margin: 20px auto;

                .sidebar-inner {
                    position: static;
                }

                .btn-wrap {
                    .btn {
                        padding: 8px 15px;

                        a {
                            font-size: 16px;
                        }
                    }
                }

                .sidebar-subcribe {
                    margin-bottom: 50px;

                    input {
                        height: 40px;
                        font-size: 16px;
                        padding: 5px 15px;
                    }
                }

                .sidebar-cta {
                    margin-top: 20px;
                    padding: 10px;

                    &--info {
                        margin-top: 20px;

                        h3 {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }

    .related-posts {
        margin-top: 70px;

        .inner-wrap {
            padding-top: 40px;
        }

        &--title {
            margin-bottom: 15px;

            h2 {
                font-size: 36px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .breadcrumb {
        font-size: 14px;
    }
    
    .single-post {
        &--banner {
            .inner-wrap {
                border-radius: 8px;
                overflow: hidden;

                &::after {
                    display: none;
                }
            }

            &-img {
                max-width: 100%;
                width: 100%;
            }

            &-info {
                width: 100%;
                max-width: 100%;
                padding: 20px;
                background: var(--blue);

                h2 {
                    font-size: var(--unnamed-font-size-27-989999771118164);
                }
            }
        }

        &--content {
            .social-share {
                &--inner {
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 20px;
                        margin-bottom: 0;
                    }
                }
            }

            &-wrap {
                margin-top: 20px;

                h3 {
                    font-size: var(--unnamed-font-size-21);
                }
            }

            &-sidebar {
                max-width: 100%;

                .btn-wrap {
                    .btn {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .related-posts {
        margin-top: 20px;

        &--title {
            h2 {
                font-size: var(--unnamed-font-size-27-989999771118164);
            }
        }
    }
}