//function
@keyframes fromTopLeft {
   from {
      clip-path: circle(0% at 82.5% 5%);
   }  to {
      clip-path: circle(33% at 76% 21%);
   }
}
//! TODO
// .home-hero {
//    .decor-img {
//       @include bg;
//       @include section-full;
//       position: absolute;
//       right: 0;
//       top: 0;
//       width:  100vw;
//       height:  100vh;
//       background-position: 45vw 0;
//       background-size: auto 50vw;
//       clip-path: circle(0% at 82.5% 5%);
//       animation: fromTopLeft 0.65s forwards;
//       animation-delay: 0.5s;
//       // clip-path: circle(33% at 76% 21%);
//       //clip-path: ellipse(width height at left top )
//    }
// }
.home-hero-content {
   padding: 100px 0;
   h1 {
      // @include h1;
      max-width:8em;
      margin-bottom: 1rem;
   }
}

.home-about {
   padding: 100px 0;
   h2 {
      //! @include h2;
      margin-bottom: 3rem; //match
      // max-width: 10em;
   }
   p {
      max-width: 50em;
   }
   .grid-three {
      margin-top: 3rem; //match
      margin: 2rem -0.5rem -1rem;
      text-align: center;
   }
   h3 {
      // @include heading-common;
      color: $blue-dark;
      font-weight: 500; 
      font-family: $font-heading;
      margin-bottom: 1rem;
   }
   .grid-item {
      border-radius: 0.5rem;
      margin: 1rem 0.5rem;
      padding: 4% 3%;
      width: calc(33.3333% - 1rem);
      // p {
      //    color: #000;
      // }
      strong {
         display: inline-block;
         font-size: 1.2em;
         max-width: 90%;
      }
      .icon-img {
         @include bg;
         border-radius: 50%; //internal with image
         width: 150px;
         height: 150px;
         margin: 2rem auto 0;
      }
   }
}

.home-hear-from {
   position: relative;
   z-index:1;
   &:before {
      content: '';
      @include fillall;
      z-index: -1;
   }
   .slick-dotted.slick-slider {
      margin-bottom: 0;
   }
   .slick-list {
      overflow: visible;
   }
   .slick-track {
      display: flex;
   }
   .slick-dots {
      position: absolute;
      display: flex;
      list-style-type: none;
      padding-left: 0;
      bottom: 50px;
      left: 4.4444445vw;//! match .main
   }
   .home-testimonial {
      display: flex;
      height: unset;
      .decor-img {
         @include cover;
         @include bg;
         background-color: gray;
      }
   }
   .test-content {
      padding-top: 100px;
      padding-bottom: 150px;
      background: #fff;
      // width: 50%;
      clip-path: ellipse(500px 100% at 25% 50%);

      display: flex;
      align-items: center;
      p {
         font-size: 50px;
         line-height: 1.333;
         max-width:14em;
         font-style: italic;
      }
      cite {
         color:#AAA;
      }
   }
}

.toggle-switch-wrap {
   position: absolute;
   bottom:   1rem;
   right:    2rem;
   z-index:  2;
   // mix-blend-mode: difference;
   > p {
      margin-bottom: 0;
      margin-right:1rem;
      font-weight: 700;
   }
}

//TODO https://preview.themeforest.net/item/nafie-html-portfolio-template/full_screen_preview/31531920?_ga=2.220731231.653017296.1620693505-933693064.1600738304&irgwc=1&clickid=240wAbTstxyLT96wUx0Mo36YUkBQDXxBMRZvyI0&iradid=275988&irpid=2305834&iradtype=ONLINE_TRACKING_LINK&irmptype=mediapartner&mp_value1=&utm_campaign=af_impact_radius_2305834&utm_medium=affiliate&utm_source=impact_radius
.toggle-switch-btn {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 46px;
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   background-color: $yellow;//hsl(var(--bg-color-two));
   padding: 4px;
   // border: 1px solid hsl(var(--border-color));
   border-radius: 30px;
   // -webkit-box-shadow: var(--card-shadow);
   // box-shadow: var(--card-shadow);
   input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
   }
   label {
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 0;
      height: 100%;
      color: #fff;//hsl(var(--t-color-one));
      font-weight: bold;
      white-space: nowrap;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 30px;
      cursor: pointer;
      -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   }
   input + label {
      color: $blue;
   }
   input:checked + label {
      color: #fff;
   }
   .switcher-toggle {
      width: calc((100% - 8px) / 2);
      position: absolute;
      z-index: 0;
      top: 5px;
      height: calc(46px - (4px * 2) - 2px);
      background-color: $blue;//hsl(var(--main-color-one));
      border-radius: 30px;
      cursor: pointer;
      -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
   }
}

//html[dir=ltr] {
.toggle-switch-btn {
   .switcher-toggle {
      left: 4px;
   }
   input:nth-of-type(1):checked ~ .switcher-toggle {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
   }
   input:nth-of-type(2):checked ~ .switcher-toggle {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
   }
}

.home-join {
   position: relative;
   z-index: 1;
   padding: 136px 0;
   &::before {
      content: "";
      @include cover;
      background-color: $bg2;
   }
   h2 {
      @include h2-dark-blue;
      max-width: 12em;
      margin-bottom: 26px;
   }
   .btns-wrap {
      margin-top: 26px;
   }
   .btn {
      padding: 13px 35px;
   }
   .btn:not(:last-child) {
      margin-right: 24px;
   }
   .row {
      display: flex;
      align-items: center;
   }
   $x: 20px;
   $y: 30px;//60px;
   .partners {
      // height: min-content;
      // margin: -$y -$x; 
      margin-left: -$y; 
      margin-right: -$y; 
      margin-top: -$x; 
      margin-bottom: -$x; 
      @include respond-below(md) {
         margin: 0!important;
      }
   }
   .partner { 
      max-height: 243px;
      max-height: 92px;
      padding: 0.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: $y $x;
      width: calc(33.3333% - 2 * #{$x});
      img {
         max-width:  90%;
         max-height: 90%;
         margin: 0 auto;
         object-fit: contain;
      }
   }
}

//page-template-home,
.home {
}
