
.page-template-about {
   .hero,
   .page-hero {
      // @include blue-section;
      .inner-wrap {
         position: relative;
         display: flex;
      }
      h1 {
         @include hdl-xl;
         margin-bottom: 53px;
      }
      p {
         @include hdl-sm;
      }
   }
   .hero-img {
      margin-left: unset;
      width:100vw;
      overflow: hidden;
      clip-path: ellipse(80% 100% at 83% 45%); //TODO
      .decor-img {
         // @include fillall;
         background-size: cover;
         padding-bottom: 0;
         height: 100%;
      }
   }
}
