// @import "../node_modules/bootstrap-scss/bootstrap";
// Option B: Include parts of Bootstrap
@import "../node_modules/bootstrap-scss/functions";

// Include any default variable overrides here

@import "../node_modules/bootstrap-scss/variables";
@import "../node_modules/bootstrap-scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap-scss/root";
@import "../node_modules/bootstrap-scss/reboot";
// @import "../node_modules/bootstrap-scss/type";
// @import "../node_modules/bootstrap-scss/images";
// @import "../node_modules/bootstrap-scss/containers";
@import "../node_modules/bootstrap-scss/grid";
@import "../node_modules/bootstrap-scss/mixins/breakpoints";
@import "../node_modules/bootstrap-scss/utilities/display";
@import "../node_modules/bootstrap-scss/utilities/flex";
@import "../node_modules/bootstrap-scss/utilities/sizing";
@import "../node_modules/bootstrap-scss/utilities/spacing";

@import 'styles/base';

@import 'styles/menu';
@import 'styles/modal';

@import 'styles/blocks';

@import 'styles/templates';

@import 'styles/single';

@import 'styles/post-cards';

@import 'styles/templates/job';

@import 'styles/page-specifics';


#main_content, //!
#main-content {
   padding-top: 89px;//82px;
}

.logged-in {
   .navbar-wrap {
      margin-top: 32px !important;
      @media screen and (max-width: 782px) {
         margin-top: 46px !important;
      }
   }
   #mobile-menu {
      margin-top: 32px !important;
      @media screen and (max-width: 782px) {
         margin-top: 46px !important;
      }
   }
}

.logo-link,
.footer-logo {
   object-fit: contain;
   object-position: left center;
}

//page-template-help
.help { //TODO .page-id-
   h1 {
      @include bdy-lg; //! correct?
      font-weight: 600;
   }
   h1 ~ p {
      @include hdl-xl;
   }
   .btn:not(:last-child) {
      margin-right: 21px;
   }
   .hero-img {
      width:44vw;
      clip-path: ellipse(70% 650px at 70% 35%);
   }
}  


@import 'styles/media-queries';

#mobile-menu {
   position: absolute;
   top: 100px;
   height: 100vh;
   overflow: scroll;
   overscroll-behavior: contain;
   // left: 0;
   // width: 100%;
   position: absolute;
   top: 65px;
   height: 100vh;
   overflow: scroll;
   z-index: 1000;
   overscroll-behavior: contain;
   width: 100%;
   height: calc(100vh - 65px);
   li {//.menu-item-has-children {
      > span,
      > a {
         &:hover {
            filter: brightness(96%);
         }
      }
   }
}

.sub-menu li,
li.menu-item-has-children {
   > span,
   > a {
      cursor: pointer;
   }
}

.btn {
   svg {
      display: none; //TODO
      margin: 0;
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 1em;
      height: 1em;
      transform: translate(0, -50%);
      opacity: 0;

      &:before {
         content:"";
         position: absolute;
         background: $yellow;
         border-radius: 50%;
         position: absolute;
         top: 50%;
         left: 50%;
         width:  120%;
         height: 120%;
         transform: translate(-50%, -50%);
      }
   }
   &:hover {
      svg {
         transition: 0.2s;
         transition-delay: 0.1s;
         opacity: 1;
      }
   }
}

.wp-block-media-text {
   margin: -1rem -2rem;
}
.wp-block-media-text .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content {
   padding: 0;
   margin: 1rem 2rem;
}

/* get started steps
 *
 *
 *
 *
 *
 */

.frame {
   margin: 0 auto;
   width: 100%;
   height: 200px;
   line-height: 200px;
   overflow: hidden;
   text-shadow: none;
}
.frame ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: 50px;
}
.frame ul li {
   width: 100%; //190px
   max-width: 1556px;
   height: 100%;
   margin: 0 0 0;
   padding: 0;
   background: #eee;
   color: #3a3c47;
   text-align: center;
   cursor: pointer;
   flex-shrink:0;
}
.frame ul li.active {
   color: #fff;
   background: #82bf4c;
}

.scrollbar { width: 100%; margin-top: 2rem; background: blue; height: 10px; }
.scrollbar .handle {
  width: 100px; /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: #222;
}



:root {
   --thumb-bg: transparent;
   --progress-bg: #ff9355;
   --track-bg: #deffd7;
}
// .track {//}.svelte-1hpsykp {
//    margin: 16px 8px;
//    position: relative;
//    height: 22px;
//    width: calc(100% - 16px);
//    border-radius: 100vh;
//    background: var(--track-bg, #ebebeb);
// }
// .progress{//.svelte-1hpsykp {
//    position: absolute;
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    border-radius: 100vh;
//    background: var(--progress-bg, #8abdff);
// }
// .thumb {//.svelte-vclev4 {
//    position: absolute;
//    top: 50%;
//    width: 0;
//    height: 0;
// }

// .thumb-content {//.svelte-vclev4 {
//    position: relative;
//    width: fit-content;
//    height: fit-content;
//    transform: translate(-50%, -50%);
// }

// .thumb-content.active::before {
//    transform: translate(-25%, -25%) scale(1);
// }

// .thumb-content {//}.svelte-vclev4
// &::before {
//    content: "";
//    position: absolute;
//    width: 2rem;
//    height: 200%;
//    transform: translate(-25%, -25%) scale(0);
//    border-radius: 100vh;
//    background: var(--thumb-bg, #5784fd);
//    opacity: 30%;
//    transition: transform 100ms ease-in-out;
// }
// }

// //!
// .thumb-inner {//}.svelte-1hpsykp {
//    width: 16px;
//    height: 12px;
//    border-radius: 100vh;
//    background: var(--thumb-bg, #5784fd);
// }


input {
   display: none;
 }

 .track {
   margin: 16px 8px;
   position: relative;
   height: 4px;
   width: calc(100% - 16px);
   border-radius: 100vh;
   background: var(--track-bg, #ebebeb);
 }

 .progress {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   border-radius: 100vh;
   background: var(--progress-bg, #8abdff);
 }

 .thumb {
   width: 16px;
   height: 16px;
   border-radius: 100vh;
   background: var(--thumb-bg, #5784fd);
 }
 .thumb {
   position: absolute;
   top: 50%;
   width: 0;
   height: 0;
 }

 .thumb-content {
   position: relative;
   width: fit-content;
   height: fit-content;
   transform: translate(-50%, -50%);
 }

 .thumb-content::before {
   content: "";
   position: absolute;
   width: 200%;
   height: 200%;
   transform: translate(-25%, -25%) scale(0);
   border-radius: 100vh;
   background: var(--thumb-bg, #5784fd);
   opacity: 30%;
   transition: transform 100ms ease-in-out;
 }

 .thumb-content.active::before {
   transform: translate(-25%, -25%) scale(1);
 }