////////////////////////// HERO //////////////////////////
.hero {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom:100px; //people
  .inner-wrap {
    display: flex;
    justify-content: space-between;
  }
}
@keyframes grow {
  from {
    clip-path: ellipse(0 0 at 100% 0%);
  } to {
    clip-path: ellipse(60% 110% at 90% 0%);
  }
}
.hero-img {
  @include section-full;
  position: absolute;
  top: 0;
  right: 0;
  // height: 100%;
  position: relative;
  flex: 0 0 60%;
  
  clip-path: ellipse(0 0 at 100% 0%);
  // animation: grow 1s forwards;
  // animation-delay: 1s; 
  clip-path: ellipse(25vw 25vw at 100% 0%);

  .decor-img {
    background-image: url(../img/team/placeholder@2x-6fed1fb3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 110%;
    width:100%;
  }
}
.hero-content {
  @include rel;
  padding: 140px 0;
  max-width: 730px;
  font-family: $font-heading;
  h1 {
    // color: var(--swing-blue-shd);
    margin-bottom: 2.9375rem;
  }
  p { 
    @include sbh-lg; 
  }
  .btn {
    margin-top: 3.8125;
  }
}
