////////////////////////// HERO ////////////////////////// 
@keyframes grow {
   from {
     clip-path: ellipse(0 0 at 100% 0%);
   }
   to {
     clip-path: ellipse(60% 110% at 90% 0%);
   }
 }
.hero {
   position: relative;
   // display: flex;
   align-items: center;
   z-index: 2;
   &-full-width {
      .hero-img {
         clip-path: ellipse(60% 78% at 64% 36%);
      }
      .decor-img {
         height: 115%;
      }
   }
   &.hide-overflow {
      .hero-img {
         overflow: hidden;
      }
      .decor-img {
         height: 100%;
      }
   }
   &-img {
      // flex: 0 0 60%;
      margin-right: calc(-50vw + 50%);
      width: 50vw;
      clip-path: ellipse(36vw 36vw at 77% 50%);
      .decor-img {
         @include bg;
      }
   }
   &-content {
      @include rel;
      padding: 140px 0;
      max-width: 50%;
      margin-right: 3vw;
      h1 {
        // @include hdl-xl;
        color: $blue-dark;
      //   margin-bottom: 50px; //66 on for subs
         margin-bottom: 0.758em!important;
         ~ p {
            max-width: 23em;
         }
      }
      p {
        @include sbh-lg;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .btns-wrap {
        margin-top: 34px;//50px;
        .btn {
          margin-top: 1rem;
          &:not(:last-child) {
            margin-right: 1em;
          }
        }
        @include respond-below(2xl) {
          .btn { 
            display: block;
            width:100%;
            max-width: 250px;
          }
        }
      }
   }
   .inner-wrap {
      display: flex;
      justify-content: space-between;
   }
}

//** page-specifics **//

//HOME
.home .hero h1 .word,
.home .hero h1 ~ p,
.home .hero .btns-wrap 
{ //TODO detect noscript
   opacity: 0;
}

// ABOUT
.about-us {
   .hero-img .decor-img {
      background-position: left center;
   }
}


@media (max-width: 1700px) {
   h1 { 
      font-size: 56px !important;
      & ~ p { 
         font-size: 24px!important; 
         max-width: 23em;
      }
   }
}
@media (max-width: 1500px) {
   .hero-img {
      clip-path: ellipse(36vw 48vw at 77% 50%);
   }
}
@media (max-width: 1400px) {
   .hero-content {
      padding: 110px 0;
   }
   h1 { 
      font-size: 48px !important;
      & ~ p { 
         font-size: 21px!important; 
      }
   }
}
@media (max-width: 1100px) {
   h1 { 
      font-size: 42px !important;
      & ~ p { 
         font-size: 20px!important; 
      }
   }
}
@media (max-width: 900px) {
   h1 { 
      font-size: 36px !important;
      & ~ p { 
         font-size: 18px!important; 
      }
   }
}
@include respond-below(md) {
   .about-us {
      .hero {
         .inner-wrap {
            flex-direction: column;
         }
      }
      .hero-content {
         width: 100%!important;
         max-width: unset!important;
         padding-top: 70px;
         padding-bottom: 0;
         h1 {
            max-width: unset!important;
            & ~ p {
               max-width: unset!important;
            }
         }
      }
      .hero-img {
         width: 100vw;
         margin-left: calc(-50vw + 50%);
         // height: 390px;
         height: 50vw;//100vw;
         clip-path: ellipse(56% 100% at 50% 100%);
         .decor-img {
            background-position: center top;
            // transform: translateY(50%);
         }
      }
   }
}