.swing-newsletter {
    text-align: center;
    margin: 0 -4.944%;
    padding: 100px 4.4%;
    background: var(--swing-blue);

    .inner-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        color: var(--white);
        max-width: 770px;
        line-height: 1;
        margin: 0 auto 25px;
    }

    .btn {
        background-color: var(--white);
        font-size: var(--unnamed-font-size-21);

        &:hover {
            a {
                color: var(--white);
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .swing-newsletter {
        padding: 60px 0;

        .btn {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .swing-newsletter {
        h2 {
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .swing-newsletter {
        h2 {
            max-width: 360px;
        }
        
        .btn {
            font-size: 16px;
        }
    }
}
