.helpful-articles {
   @include rel;
   padding:114px 0 0; //TODO non-cta 
   text-align: center;
   &:before {
      content:"";
      @include cover;
      background: var(--bg-02);
      height: calc(100% - 120px); //match
   }
   h2 {
      margin-bottom: 56px; //TODO ? on articles
      //max-width
   }
}

.ha-wrap {
   .slick-dots {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
   }
}

.help-art-wrap {
}

.help-art {
   display: flex;
   flex-direction: column;
   &-img {
      border-top-left-radius:  $border-radius;
      border-top-right-radius: $border-radius;
      padding-bottom: 50%;
      width:100%;
   }
   &-content {
      background: #fff;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
         @include hdr-md;
         // color: var(--swing-blue);
      }
   }
}
.link-learn-more {
   @include bdy-sm;
   display: inline-block;
   align-self: center;
   margin-top: auto;
   color: $blue; //! mixin
   text-transform: uppercase;
   margin-top: 3em;
   position: relative;
   $shift: 0.15em;
   &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% + #{$shift});
      height: 2px;
      background-color: $blue;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: 0.35s;
   }
   svg {
      max-height: 1em;
      max-width: 1em;
      fill: $blue;
      margin-bottom: 0.25em; //line-height:
      transition: 0.2s;
   }
   &:hover {
      color: $blue;
      &:before {
         transform: scaleX(1);
      }
      svg {
         margin-left:   $shift;
         margin-right: -$shift;
      }
   }
}

.helpful-articles {
   // padding-bottom: 56px;
   //! margin-bottom: -70px; 
   margin-bottom: -120px;
}

// .whitepaper-block + .call-to-action,
.helpful-articles + .call-to-action {
   // padding-top: 188px;
   // margin-top: -70px;
   z-index:0;
}
.helpful-articles + .whitepaper-block { //TODO
   // margin-top: -2rem;
}

.whitepaper-section {
   margin-top: 2rem;
}
.wht-ppr {
   background: #FFF;
   border-radius: $border-radius;
   flex-wrap: wrap;
   padding: 50px 74px 68px;
   &-img {
      @include bg;
      width:321px;
      min-width: 150px;
      flex: 0 0 20%;
      background-color: #ddd;
      border-radius: $border-radius;
   }
   .d-xl-flex {
      display: flex;
      flex: 0 0 80%;
      padding: min(40px, 2.08333vw) min(4.635vw, 89px);
      padding-right: 0;
   }
   &-content {
      // padding-right: calc(min(4.635vw, 89px) / 2);
      padding-right: calc(min(4.635vw, 89px) / 2);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      flex-grow: 0;
      // h2, h3 {
      //    margin-bottom: 1rem;
      // }
      > *:last-child {
         margin-bottom: 0;
      }
   }
   h3 {@include hdr-md; color: $blue;}
   h3,
   .pre-heading-label {
      margin-bottom: 22px;
   }
   .btn {
      align-self: center;
   }
}